# Frontend
/frontend/node_modules
/frontend/.env
/frontend/.env.local
/frontend/package-lock.json
/frontend/.next
/frontend/build
/frontend/dist

# Backend
/backend/.venv
/backend/venv
/backend/.env
/backend/__pycache__
/backend/**/__pycache__
/backend/*.pyc

/hocuspocus-service/node_modules
/hocuspocus-service/db.sqlite

# IDE/Editor files
.vscode/
.idea/
*.swp
*.swo
.DS_Store